
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>API</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
</head>

<body>
    <div id="app">
        <form action="" @click="createBook">
            <input class="form-control form-control-lg mt-4" type="number" placeholder="author id" v-model="author_id">
            <input class="form-control form-control-lg mt-4" type="text" placeholder="Title" v-model="title">
            <input class="form-control form-control-lg  mt-4" type="text" placeholder="Body" v-model="body">
            <button  type="button" class="form-control bg-info mt-4">Create</button>
        </form>
        <div class="container">
            <div class="card mb-2 mt-2" v-for="(book, index) in books" :key="index">
                <h5 class="card-header">{{ book.title }}</h5>
                <div class="card-body">
                    <p class="card-title">{{ book.body }}</p>
                    <button type="button" @click="deleteBook(index)" class="btn btn-danger">Delete</button>
                    <!-- <button type="button" @click="updateItem(index)" class="btn btn-primary">Change</button> -->
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="JS/app.js"></script>
</html>